body{
    font: 15px/2 Arial, Helvetica, sans-serif;
    padding:0;
    margin:0;
    background-color:rgb(145, 145, 145);
}

/* globel stuff*/
.container{
    width:80%;
    margin:auto;
    overflow:hidden;
}

/*header*/
header{
    background:rgb(131, 13, 13);
    color:#ffffff;
    padding-top:30px;
    min-height:70px;
    border-bottom:#e8491d 3px solid;
}
header a{
    color:#ffffff;
    text-decoration:none;
    text-transform: uppercase;
    font-size:16px;
}

header ul{
    margin:;
    padding:0;

}

header li{
    
    display:inline;
    padding:0 20px 0 20px ;

}